<%= content_tag :div, :class => "contextual" do -%>
    <%= link_to(l(:label_edit), edit_announcement_path(@announcement,:project_id => params[:project_id]), :class => 'icon icon-edit') %>
    <%= link_to(l(:label_delete),  announcement_path(:project_id => params[:project_id]), :confirm => l(:label_confirm_message), :method => :delete, :class => 'icon icon-del') %>
<% end -%>

<h2><%= @announcement.message.strip[0..30] %></h2>
<div class="box">
  <table class="attributes">
    <tbody>
    <tr>
      <th><%= l(:label_message) %></th> <td>		<%= @announcement.message %></td>
    </tr>
    <tr>
      <th><%= l(:label_starts_at) %></th> <td>		<%= @announcement.starts_at %></td>
    </tr>
    <tr>
      <th><%= l(:label_ends_at) %></th> <td>		<%= @announcement.ends_at %></td>
    </tr>
    </tbody>
  </table>

</div>

